!!! 5
%html
  %head
    %title My App
    %meta(charset='utf-8')
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'application.css' }
    %script{ :type => 'text/javascript', :src => 'application.js' }
  %body
    %h1 My App
